*, h1, h2, h3, h4, h5, h6, p {
    font-family: 'raleway', 'arial', sans-serif;
  }

  h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: large;
}
 
h4 {
    font-size: medium;
}

.container-fluid {
    /* fallback for old browsers */
    background-color: #8b5f9f;
    }
